<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Web_studentMagSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexServet</display-name>
    <servlet-name>IndexServet</servlet-name>
    <servlet-class>com.liyuehong.Servlet.IndexServet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServet</servlet-name>
    <url-pattern>/IndexServet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeListServlet</display-name>
    <servlet-name>GradeListServlet</servlet-name>
    <servlet-class>com.liyuehong.Servlet.GradeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeListServlet</servlet-name>
    <url-pattern>/GradeListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeDeleteServlet</display-name>
    <servlet-name>GradeDeleteServlet</servlet-name>
    <servlet-class>com.liyuehong.Servlet.GradeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeDeleteServlet</servlet-name>
    <url-pattern>/GradeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeSaveServlet</display-name>
    <servlet-name>GradeSaveServlet</servlet-name>
    <servlet-class>com.liyuehong.Servlet.GradeSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeSaveServlet</servlet-name>
    <url-pattern>/GradeSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentListServlet</display-name>
    <servlet-name>StudentListServlet</servlet-name>
    <servlet-class>com.liyuehong.Servlet.StudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentListServlet</servlet-name>
    <url-pattern>/StudentListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDeleteServlet</display-name>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <servlet-class>com.liyuehong.Servlet.StudentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <url-pattern>/StudentDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSaveServlet</display-name>
    <servlet-name>StudentSaveServlet</servlet-name>
    <servlet-class>com.liyuehong.Servlet.StudentSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSaveServlet</servlet-name>
    <url-pattern>/StudentSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeComboListServlet</display-name>
    <servlet-name>GradeComboListServlet</servlet-name>
    <servlet-class>com.liyuehong.Servlet.GradeComboListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeComboListServlet</servlet-name>
    <url-pattern>/GradeComboListServlet</url-pattern>
  </servlet-mapping>
</web-app>